/* General Styles */
body {
    font-family: "Poppins", serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    
    background: url('https://cdn.pixabay.com/photo/2021/05/09/06/07/dog-6240043_1280.jpg') no-repeat center center/cover;
    color: black;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    background: rgba(255,255,255,0.6);
    border: 1px solid black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.competition-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    background: #e7f3fe;
    border-radius: 8px;
}

.competition-category button {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.competition-category button:hover {
    background: #218838;
}
